@layer base {
    html {}
}

@media (max-width: 1440px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* Footer Notes */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


.leaflet-container {
    height: 600px;
    width: 100%;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}